@page
@using Parsers;
@inject MercuryApiParser mercury;
@inject ReadabilityParser readability;
@model Web.Pages.CompareModel
@{
    Layout = null;
    var mercuryResult = await mercury.ParseAsync(Model.Url);
    var readabilityResult = await readability.ParseAsync(Model.Url);
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
        }

        .box {
            width: 50%;
            padding: 20px;
            border: 1px solid #000;
            overflow-x: hidden; /* Add scrollbars when content overflows */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">@Html.Raw(mercuryResult.Content)</div>
        <div class="box">@Html.Raw(readabilityResult.Content)</div>
    </div>
</body>
</html>
